/* *{
    margin: 0;
    padding: 0;
} */
html {
    font-size: 10px;
}

.p {
    box-sizing: border-box;
    border: 1px solid rgb(243, 241, 241);
    width: 80vw;
    border-radius: 10px;
    text-align: center;
    background-color: orange;
    height: 10vh;
    margin: auto;
    padding: 9px;
    font-size: 10px;
}

.p {
    font-size: 3em;
}

.o {
    box-sizing: border-box;
    border: 1px solid rgb(252, 248, 248);
    width: 80vw;
    height: 10vh;
    background-color: rgb(77, 204, 45);
    margin: 23px auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.o {
    font-size: 3rem;
    /* height: 10%; */
    /* width: 100%; */
}
.a {
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 15px;
    width: 80vw;
    min-height:10vh;
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    margin: 23px auto;
    background-color: rgb(236, 100, 100);
}